<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/welcome.css') }}" rel="stylesheet">
            <link href="{{ asset('css/component.css') }}" rel="stylesheet">
            <link href="{{ asset('css/demo.css') }}" rel="stylesheet">
            <link href="{{ asset('css/media.css') }}" rel="stylesheet">
            <link href="{{ asset('css/normalize.css') }}" rel="stylesheet">
            <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/table-style.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
            <script>
                $(document).ready(function() {
                    var form = $("#table_name");
                    form.click(function() {
                        $(".goto_order_link").attr("href", "/create/" + form.val());
                    });
                });
            </script>
            <script src="{{ asset('js/jquery.stickyheader.js') }}"></script>
            <script src="{{ asset('js/js.js') }}"></script>
        {% endblock %}
    </body>
</html>
